<div class="signup">
    <form #loginForm="ngForm" (ngSubmit)="onLoginUp()">
        <label for="chk" aria-hidden="true">Login</label>
        <small class="text-danger">{{msg}}</small>
        <div>
            <input type="text" name="email" placeholder="Email" [(ngModel)]="user.emailid" required #email="ngModel" 
            [class.is-invalid]="email.invalid && email.touched">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email id is required filed</small>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"  required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required filed</small>
        </div>
        <button class="btn btn-success"><a routerLink="/login"></a>Login</button>
    </form>
</div>

