<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <div class=" mt-2 row">
            <div class="col-xs-12">
                <button class="btn btn-primary">Save</button>
                <button class="btn twobtn-space btn-danger">Cancel</button>
            </div>
        </div>
        <form>
            <div>
                <div class="col-sm-5 form-group" style="margin-top: 10px">
                    <input type="text" id="name" placeholder="Name" #Name class="form-control">
                </div>

                <div class="col-sm-5 form-group" style="margin-top: 10px">
                    <input type="text" id="ImageURL" placeholder="Image URL" #ImageURL class="form-control">
                </div>

                <div class="col-sm-5 form-group" style="margin-top: 10px">
                    <input type="text" id="Description" placeholder="Description" #Description class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>