<div class="sect1">
  <app-header></app-header>
  <!-- <app-header (routlink)="onNavigate($event)"></app-header> -->
  <div class="container">
    <!-- <img [src]="myImage" alt="" width="200px"> -->
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<!-- <app-recipes *ngIf="loadFeature === 'Recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadFeature === 'Shopping_list'"></app-shopping-list>
      <app-sign-up *ngIf="loadFeature === 'sign-up'"></app-sign-up>
      <app-chat-room *ngIf="loadFeature === 'chatboard'"></app-chat-room> -->
<!-- <app-register-now *ngIf="loadFeature === 'RegisterNow'"></app-register-now> -->