
<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

    <app-login></app-login>
    <!-- (signupUserData)="signupUserData($event)" -->

        <div class="login">
            <small class="text-danger">{{msg}}</small>
            <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
                <!-- <label>Don't have account ?</label> -->
                <label for="chk" aria-hidden="true">Sign Up</label>
                <input type="text" name="Username" placeholder="User Name" [(ngModel)]="user.name">
                <input type="email" name="email" placeholder="Email" [(ngModel)]="user.emailid">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
                <!-- <input type="password" name="cmpassword" placeholder="Confirm Password" [(ngModel)]="user.password"> -->
                <button>Login</button>
            </form>
        </div>
</div>
