<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" class="img-responsive" style="max-height: 252px;MARGIN-TOP: 10PX;
        MARGIN-LEFT: 50PX;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="list-group-item-heading" style=" MARGIN-LEFT: 50PX; font-family: 'Times New Roman', Times, serif;">{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-success dropdown-toggle" style=" MARGIN-LEFT: 50PX;">Manage Recipe <span
                    class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" style="cursor: pointer;">To shopping list</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="editRecipes()">Edit recipes</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Delete recipes</a></li>
            </ul>
        </div>
        <!-- <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">Dropdown link</a>
            <div class="dropdown-menu show">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style=" MARGIN-LEFT: 50PX;">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5" style=" MARGIN-LEFT: 50PX;">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let Ingredients of recipe.Ingredient">
                {{Ingredients.name}} - {{Ingredients.amount}}</li>
        </ul>
    </div>
</div>