<div class="row">
    <div class="col-xs-12">
        <img src="" class="img-responsive" style="max-height: 50px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="list-group-item-heading">recipes name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span
                    class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" class="">To shopping list</a></li>
                <li><a href="#" class="">Edit recipes</a></li>
                <li><a href="#" class="">Delete recipes</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>